<!--
  Generated template for the ResultworkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>resultwork</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

      <ion-toolbar no-border-top no-border-bottom>
      <ion-searchbar [(ngModel)]="listFilter"></ion-searchbar>   
      <ion-buttons right>
          <button ion-button round (click)="launchLocationPage()">Bản đồ</button>
      </ion-buttons>
    </ion-toolbar>
    <ion-segment [(ngModel)]="filter" color="dark">
      <ion-segment-button value="salary" (click)="filterBy()">Lương
      </ion-segment-button>
      <ion-segment-button value="address" (click)="filterBy()">Khoảng cách
      </ion-segment-button>
      <ion-segment-button value="" (click)="filterBy()">Mặc định
      </ion-segment-button>
    </ion-segment>
  <ion-list>
    <ion-item *ngFor = "let item of listFilterWork">
      <ion-thumbnail name="ionic" color="primary" (click)="viewDetail(item)" item-left>
        <img src="https://www.vietnamonline.com/js/ckfinder/userfiles/images/chua%20cau%20hoi%20an.jpg">
      </ion-thumbnail>
      <div (click)="viewDetail(item)">
      <h5>{{item.name}}</h5>
      <p *ngIf ="item.salary.type === 'VND'">{{item.salary.salaryFrom | currency:'VND':true:'1.0-3'}} - {{item.salary.salaryTo | currency:'VND':true:'1.0-3'}} </p>
      <p *ngIf ="item.salary.type === 'USD'">{{item.salary.salaryFrom | currency:'USD':true:'1.0-3'}} - {{item.salary.salaryTo | currency:'USD':true:'1.0-3'}} </p>
      <p>{{item.company ? item.company.address.address: 'khong co dia chi'}}</p>
    </div>
      <ion-icon item-end outline class="heart" [name]="item.favorite?'heart':'ios-heart-outline'" style="color: red" (click)="addfavorite($event,item)">
        <p item-end>{{item.distance%1000}} km</p>
      </ion-icon>
      
    </ion-item>
    </ion-list>
</ion-content>
