page-resultwork {
    ion-list{
        font-family: cursive !important;
        
    }
    p{
        font-size: 11px !important;
    }
    ion-thumbnail{
        margin-right: 6% !important;
    }
    ion-thumbnail img{
        border-radius: 50%;
    }
    ion-searchbar{
        width: 100%;
    }
    .heart{
        text-align: center;
    }
    ion-segment{
        margin-bottom: 5%;
    }
}
