<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
    
  </ion-navbar>

</ion-header>
 -->

<ion-content padding id="login" class="bg-image">
  <ion-grid>
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-5 class="logo">
        <img alt="" class="hinh">
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item class="username">
      <ion-label>Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

    <ion-item class="password">
      <ion-label>Mật khẩu</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <button ion-button class="btnLogin" type="submit" block>Đăng Nhập</button>
  </form>
  <button ion-button class="btnLogin" (click)="register()" block>Đăng ký</button>

</ion-content>