page-login {
     #login{
         background: color($colors, light);
     }
     form{
         margin-top: 30% !important;
     }
     ion-row {
        margin-top: 10% !important;
     }
     .hinh{
        content: url('../assets/image/logo.png');
     }
     .bg-image{
         background-image: url('../assets/image/bg2.jpg') !important;
         background-repeat: no-repeat !important;
         background-size: cover !important;
     }
     ion-label{
         color: #111504 !important;
         font-size: 13px;
     }
     ion-item{
         padding: 0px !important;
         border-top: none !important;
         background: none !important;
         border-bottom: 1px solid white !important;
         box-shadow: none !important;
     }
     ion-input{
        color: black ;
        border-bottom-color: white ;
        box-shadow: none;
     }
     .logo{
         margin-left: auto;
         margin-right: auto;
         display: block;
     }
     .logo img{
         width: 100%;
         height: auto;
     }
     .btnLogin{
        background-color: transparent;
        color:#C4681C;
        border:1px solid white;
        margin-top: 20px;
        height: 35px;
        // margin-left: 40%;
     }


     ion-input.error {
        border-color: red;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.2), 0 0 10px rgba(255,0,0,0.2);
    }
    
    ion-input.success {
        border-color: green;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.2), 0 0 10px rgba(0,255,0,0.2);
    }
    
    .animated {
          -webkit-animation-fill-mode: both;
          -moz-animation-fill-mode: both;
          -ms-animation-fill-mode: both;
          -o-animation-fill-mode: both;
          animation-fill-mode: both;
          -webkit-animation-duration: 1s;
          -moz-animation-duration: 1s;
          -ms-animation-duration: 1s;
          -o-animation-duration: 1s;
          animation-duration: 1s;
    }
    
    @-webkit-keyframes shake {
          0%, 100% {-webkit-transform: translateX(0);}
          10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
          20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
    }
    
    @-moz-keyframes shake {
          0%, 100% {-moz-transform: translateX(0);}
          10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
          20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
    }
    
    @-o-keyframes shake {
          0%, 100% {-o-transform: translateX(0);}
          10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
          20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
    }
    
    @keyframes shake {
          0%, 100% {transform: translateX(0);}
          10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
          20%, 40%, 60%, 80% {transform: translateX(10px);}
    }
    
    .shake {
          -webkit-animation-name: shake;
          -moz-animation-name: shake;
          -o-animation-name: shake;
          animation-name: shake;
    }
    


}
.toastrFail .toast-wrapper{
    background-color: rgba(30, 37, 37, 0.5);
}
.toastrFail .toast-wrapper .toast-message{
    text-align: center;
}
.toastrSucc .toast-wrapper{
    background-color: rgba(18, 202, 241, 0.5);
}
.toastrSucc .toast-wrapper .toast-message{
    text-align: center;
}

