page-detail-work {
    ion-card{
        margin-top: 11% !important;
    }
    ion-item{
        border-bottom: 1px solid #f4f4f4 !important; 
        .ion-logo-usd:before {
            font-size: 21px;
            margin-bottom: 26%;
        }
        p{
            font-size: 1.7rem !important;
            font-weight: bold;
            color: black !important;
        }
        pre{
            color: rosybrown;
            margin-top: 1%;
        
        }
    }
    ion-content{
        background-color: #52d1fa !important;
        .scroll-content{
            margin-bottom: 62px !important;
        }
    }
    ion-footer{
        text-align: center;
        bottom: 0px !important;
        .toolbar-background{
            background: #f4f4f4f7;
        }
        button{
            width: 35% !important;
            border-color: #ff9c0f !important;
            color: #ff9c0f !important;
            height: 2.6em !important;
            ion-icon{
                color: #f53d3d;
                margin-right: 6%;
            }
        }
    }
    .content-top{
        left: 25%;
        position: absolute;
        width: 50%;
        top: -1%;
        margin-top: 7%;

        img{
            margin-left: 15%;
            width: 71%;
        }
        h3{
            margin-top: 6%;
            font-weight: bold;
            font-size: 1.7rem;
           text-align: center;
        }
        p{
            text-align: center;
        }
        
    }
}
