<!--
  Generated template for the DetailWorkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hide-tabs>
    <ion-title>detail-work</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <div class="content-top">
      <img src="https://images.vietnamworks.com/pictureofcompany/61/10318117.png" />
      <p>Công ty TNHH Janeto</p>
      <h3>iOS- Swift Developer</h3>
    </div>
    <ion-card-content>
      <ion-item style="margin-top:37%">
        <ion-icon name='logo-usd' item-start></ion-icon>
        {{work.salary.salaryFrom}} - {{work.salary.salaryTo}}
        <ion-badge item-end>Salary</ion-badge>
      </ion-item>

      <ion-item>
        <ion-icon name='logo-buffer' item-start></ion-icon>
        {{work.position}}
        <ion-badge item-end>Position</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name='navigate' item-start></ion-icon>
        {{address}}
        <ion-badge item-end>Address</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name='filing' item-start></ion-icon>
        {{work.company.major}}
        <ion-badge item-end>Major</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name='flag' item-start></ion-icon>
        {{work.major}}
        <ion-badge item-end>Project</ion-badge>
      </ion-item>
      <ion-item text-wrap>
        <p>Phúc lợi</p>
        <p>*Được làm việc trong môi trường năng động, 
nhiều thử thách, được đào tạo 
và nâng cao nghiệp vụ thường xuyên.<br>
*Mức lương hấp dẫn, tăng dần dựa trên kinh nghiệm và năng lực.<br>
*Cơ hội thăng tiến, chế độ thưởng hấp dẫn dựa trên hiệu quả và tinh thần làm việc.
        </p>
      </ion-item>
      <ion-item text-wrap>
        <p>Mô tả công việc</p>
        <p>
          - Chi tiết công việc sẽ được trao đổi cụ thể trong buổi phỏng vấn.
          - Thực hiện các nhiệm vụ khác theo yêu cầu của trưởng nhóm
          - Tham gia phát triển ứng dụng trên nền tảng Android
        </p>
      </ion-item>
      <ion-item text-wrap>
        <p>Yêu cầu kinh nghiệm</p>
        <p>
          - Sinh viên học đại học hoặc các trường đào tạo chuyên ngành CNTT.
          - Có hiểu biết về lập trình hướng đối tượng.
          - Khả năng tư duy, học hỏi nhanh.
          - Có khả năng đọc hiểu tài liệu kỹ thuật bằng tiếng Anh.
        </p>
      </ion-item>
    </ion-card-content>



  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button round outline>
        <ion-icon name="heart"></ion-icon>
        Lưu</button>
    <button ion-button round outline (click)="sendCV()">Ứng tuyển</button>
  </ion-toolbar>
</ion-footer>