page-register-company {
	// ion-content{
	//   background-image: url('../assets/image/wall3.jpg') !important;
	//       background-repeat: no-repeat !important;
	//       background-size: cover !important;
	// }
	form{
		  background: transparent !important;
		  margin-top: 30%;
	}
	button{
		margin-top: 15% !important;
		width: -webkit-fill-available !important;
		background-color: rgba(0, 0, 0, 0.733) !important;
	}
	ion-item{
		  background-color: transparent !important;
		  margin-bottom: 4% !important;
	}
	ion-label{
		  color: white;
	}
  ion-input.error {
	border-color: red;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2), 0 0 10px rgba(255,0,0,0.2);
}

ion-input.success {
	border-color: green;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2), 0 0 10px rgba(0,255,0,0.2);
}

.animated {
	  -webkit-animation-fill-mode: both;
	  -moz-animation-fill-mode: both;
	  -ms-animation-fill-mode: both;
	  -o-animation-fill-mode: both;
	  animation-fill-mode: both;
	  -webkit-animation-duration: 1s;
	  -moz-animation-duration: 1s;
	  -ms-animation-duration: 1s;
	  -o-animation-duration: 1s;
	  animation-duration: 1s;
}

@-webkit-keyframes shake {
	  0%, 100% {-webkit-transform: translateX(0);}
	  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	  0%, 100% {-moz-transform: translateX(0);}
	  10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	  20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
	  0%, 100% {-o-transform: translateX(0);}
	  10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	  20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	  0%, 100% {transform: translateX(0);}
	  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
	  -webkit-animation-name: shake;
	  -moz-animation-name: shake;
	  -o-animation-name: shake;
	  animation-name: shake;
}

}
