<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="button-gr">
    <button ion-button icon-start round color="dark" class="user" (click)="registerUser()">
        <ion-icon name="star"></ion-icon>
        Người dùng
      </button>
    
      <button ion-button icon-end round color="dark" class="company" (click) = "registerCompany()">
        Công ty
        <ion-icon name="star"></ion-icon>
      </button>
    </div>
  <!-- <button ion-button class="btnLogin" (click)="registerUser()" block>Đăng ký người dùng</button>
  <button ion-button class="btnLogin" (click) = "registerCompany()" block>Đăng ký công ty</button> -->
  <page-register-company *ngIf="show === 'company'"></page-register-company>
  <page-register-user *ngIf="show === 'user'"></page-register-user>
</ion-content>
