page-register {
    ion-content{
        .button-gr .active{
            background-color: rgba(33, 154, 158, 0.5) !important;
        }
        img{
            filter : blur(6px);            
        }
        background-image: url('../assets/image/register.jpg') !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;

            .button-gr button{
            background-color: transparent !important;
            border:1px solid white;
        }
        .button-gr{
            margin-left: 5%;
            width: 100%;
        }
      }
}
