<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>main</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs>
    <ion-tab [root]="tab1Root"></ion-tab>
    <ion-tab [root]="tab2Root"></ion-tab>
    <ion-tab [root]="tab3Root"></ion-tab>
  </ion-tabs>
</ion-content>
