<ion-tabs *ngIf="role === 'user'" tabs-only tabsLayout="icon-start" color="light" tabs-color-light>
    <ion-tab [root]="timViecRoot" tabIcon="call" tabTitle="Tim viec"></ion-tab>
    <ion-tab [root]="viecCuaToiRoot" tabIcon="heart" tabTitle="Viec cua toi" tabBadgeStyle="danger"></ion-tab>
    <ion-tab [root]="settingRoot" tabIcon="settings" tabTitle="Cài đặt"></ion-tab>
</ion-tabs>

<ion-tabs *ngIf="role === 'company'" tabs-only tabsLayout="icon-start" color="light" tabs-color-light>
    <ion-tab [root]="createWorkRoot" tabIcon="call" tabTitle="Tạo việc"></ion-tab>
    <ion-tab [root]="workPostedRoot" tabIcon="heart" tabTitle="Việc đã đăng" tabBadgeStyle="danger"></ion-tab>
    <!-- <ion-tab [root]="settingRoot" tabIcon="settings" tabTitle="Cài đặt"></ion-tab> -->
</ion-tabs>
