<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="wrap" style="margin-top:50%">
        <span class="letter">P</span>
        <span class="letter">T</span>
        <span class="letter">I</span>
        <span class="letter">T</span>
        <div>
        <span class="letter">M</span>
        <span class="letter">Y</span>
        <span class="space"></span>
        <span class="letter">W</span>
        <span class="letter">O</span>
        <span class="letter">R</span>
        <span class="letter">K</span>
        </div>
      </div>
  </div>

  <ion-header>
      <ion-navbar>
        <ion-title>Home</ion-title>
      </ion-navbar>
    </ion-header>

    <ion-content padding *ngIf="splash == false">
        <ion-slides pager (ionSlideDidChange)="slideChanged()">
          <ion-slide class="slide1">
            <div>
              <h2>Dang nhat huy</h2>
              <p>whether it's sets, reps, weight used, you can track it all with our intuitive interface.</p>
            </div>
          </ion-slide>
      
          <ion-slide class="slide2">
            <div>
              <h2>set personal goals</h2>
              <p>we're all in the gym for a reason: goals. set goals for diet and fitness.</p>
            </div>
          </ion-slide>
      
          <ion-slide class="slide3">
            <div>
              <h2>chat with others</h2>
              <p>inspire and help each other reach fitness and diet goals.</p>
            </div>
          </ion-slide>
        </ion-slides>
        <button (click)="skip()" id="skip">{{ skipMsg }}</button>
      </ion-content>