page-slider {
  @import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,900,700,600);
  * {
    box-sizing: border-box;
  }

  #custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
    background-image: url('../assets/image/hinh3.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    overflow: hidden;
    background: linear-gradient(#111, black);
    min-height: 100%;
  }
  
  .wrap {
    max-width: 960px;
    margin: 1em auto;
    position: relative;
    transform-style: preserve-3d;
    perspective: 400px;
    text-align: center;
  }
  
  .letter, .space {
    display: inline-block;
    font-size: 9vw;
    text-transform: uppercase;
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    position: relative;
    transform-style: preserve-3d;
    text-shadow: 2px 2px 5px black;
  }
  .space {
    width: .5em;
  }
  
  @for $i from 1 through 13 {
    
    $n: 1;
    $r: random(10);
    @if($r > 5){
      $n: -1;
    }
    $x: (random(1000) + 300) * $n +px; 
    $y: (random(1000) + 300) * $n +px;
    $c: hsl(random(360), 100%, 50%);
    $d: 360 * $n +deg;
    @keyframes anim#{$i}{
      0% {
        transform: translate3d($x, $y, -1000px) rotate(0deg);
        opacity: 0;
      }
      100% {
        transform: translate3d(0,0,0) rotate($d);
        opacity: .8;
      }
    }
    .letter:nth-child(#{$i}){
      animation: anim#{$i} 5s;
      animation-delay: -$i * .2s;
      color:#e4dede;
    }
  }  



      .slide1{
        background-size: cover !important;
        background: url('../assets/image/hinh2.jpg') no-repeat
      }
      .slide2{
      background-size: cover !important;
      background: url('../assets/image/hinh3.jpg') no-repeat
      }
      .slide3{
        background-size: cover !important;
        background: url('../assets/image/hinh4.jpg') no-repeat
      }
    ion-slides{
        width: 109%;
        height: 97%;
        margin-left: -15px;
        margin-top: -15px;
    }
    .diag {
        position: absolute;
        z-index: 1;
        width:100%;
        top: 0;
        height:66%;
      }
      
      ion-icon {
          margin-top: 40%;
          font-size:7em;
      }
      
      h2 {
          margin-top:80% !important;
          font-weight:bold;
          font-size:1em;
      }
      
      p {
          width:80%;
          display:block;
          margin: 0 auto;
          font-size:.9em;
      }
      
      .swiper-pagination-bullet-active {
          background:#C400FF;
      }
      
      .swiper-pagination {
          bottom: 12% !important;
      }
      
      #skip {
          position:absolute;
          bottom: 20px;
          width:92%;
          background:none !important;
          text-align:center;
          cursor:pointer;
          z-index:5;
      }
      @keyframes pulse {
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }





    
      
      /* Generated with Bounce.js. Edit at https://goo.gl/aesEoV */
      
     
}
