page-tim-viec {
    ion-content{
        background: url('../assets/image/hinh1.jpg') no-repeat;
        background-size: cover !important;
    }
    ion-list{
        margin-top: 40% !important;
    }
    ion-label{
        color: #111504 !important;
        font-size: 17px;
    }
    ion-item{
        padding: 0px !important;
        border-top: none !important;
        background: none !important;
        border-bottom: 1px solid white !important;
        box-shadow: none !important;
    }
    button{
		margin-top: 15% !important;
		width: -webkit-fill-available !important;
		background-color: rgba(35, 132, 223, 0.733) !important;
	}
    ion-input{
       color: black ;
       border-bottom-color: white ;
       box-shadow: none;
    }
}
