<!--
  Generated template for the TimViecPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tim viec</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list [@flyInOut]= "2">
    <ion-item>
      <ion-label floating>Từ khóa</ion-label>
      <ion-input type="text" [(ngModel)]="searchtext"></ion-input>
    </ion-item>

  </ion-list>
    <button ion-button round class="btnLogin" [@flyInOut] (click)="search()" block>Tìm việc</button>
</ion-content>
