<!--
  Generated template for the CompanyInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary" hideBackButton="true">
        <ion-buttons start>
            <button ion-button icon-left (click)="prev()">
              <ion-icon name="arrow-back"></ion-icon> Prev</button>
          </ion-buttons>
        <ion-title>
          Công ty
        </ion-title>
        
        <ion-buttons end>
          <button ion-button icon-right (click)="next()">Next
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-slides #signupSlider pager>

    <ion-slide>
      <img src="assets/image/user.png" alt="">
      <p>Thông tin cơ bản</p>
      <!-- <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p> -->

      <ion-list>

        <form [formGroup]="companyForm">
            <ion-item class="name">
                <ion-label>Tên công ty</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
              </ion-item>
          <ion-item class="major">
            <ion-label>Chuyên ngành</ion-label>
            <ion-input type="text" formControlName="major"></ion-input>
          </ion-item>
          <ion-item class="contact">
            <ion-label>Liên hệ</ion-label>
            <ion-input type="text" formControlName="contact"></ion-input>
          </ion-item>
          <ion-item class="address">
            <ion-label>Địa chỉ</ion-label>
            <ion-input type="text" disabled="true" formControlName="address" (click)="launchLocationPage()"></ion-input>
          </ion-item>
          <ion-item class="dateTime">
            <ion-label>Thành lập</ion-label>
            <ion-datetime displayFormat="MMMM YYYY" formControlName="dateTime"></ion-datetime>
          </ion-item>
        </form>

      </ion-list>

    </ion-slide>

    <ion-slide>
      <img src="assets/image/user.png" alt="">
      <p>Thông tin cơ bản</p>
      <!-- <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p> -->

      <ion-list>

        <form [formGroup]="companyForm2">
          <ion-item class="human">
            <ion-label>Giám đốc</ion-label>
            <ion-input type="text" formControlName="human"></ion-input>
          </ion-item>
          <ion-item class="scale">
            <ion-label>Quy mô</ion-label>
            <ion-input type="text" formControlName="scale"></ion-input>
          </ion-item>
          <ion-item class="description">
            <ion-label>Mô tả</ion-label>
            <ion-textarea type="date" formControlName="description"></ion-textarea>
          </ion-item>
          <ion-item class="website">
            <ion-label>Website</ion-label>
            <ion-input type="text" formControlName="website"></ion-input>
          </ion-item>
          <!-- <pre>{{companyForm2.controls.description.value}}</pre> -->
        </form>

      </ion-list>
      <button ion-button color="primary" round outline style="margin-top:10% !important" (click)="save()">Create Company!</button>      
    </ion-slide>
  </ion-slides>

</ion-content>