<!--
  Generated template for the ProfileUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>profile-user</ion-title>
  </ion-navbar>

</ion-header>


<ion-content parallax>
  <div class="bg">

  </div>
  <div class="main-cnt">
    <img src="../assets/image/avatar1.jpg" alt="">
  </div>
  <h3>Huy Công Xê</h3>
  <ion-card-content>
    <ion-item>
      <p item-end>Đặng Nhật Huy</p>
      <ion-badge>Name</ion-badge>
    </ion-item>

    <ion-item>
      <ion-badge>Address</ion-badge>
      <p item-end>Tam Kỳ,Quảng Nam</p>
    </ion-item>
    <ion-item>
      <p item-end>Đã có người yêu</p>
      <ion-badge>Relationship</ion-badge>
    </ion-item>
    <ion-item>
      <p item-end>Công ty Janeto</p>
      <ion-badge>Company</ion-badge>
    </ion-item>
    <ion-item>
      <p item-end>Bưu chính viễn thông</p>
      <ion-badge>University</ion-badge>
    </ion-item>
  </ion-card-content>
  <ion-card-content style="margin-top:-6%">

    <ion-list>
      <ion-list-header>
        Học vấn
      </ion-list-header>
      <ion-item>
        <ion-badge>Trường</ion-badge>
        <button ion-button outline item-end>Uninstall</button>
      </ion-item>
      <ion-item>
        <ion-badge>Tốt nghiệp</ion-badge>
        <button ion-button outline item-end>Uninstall</button>
      </ion-item>
      <ion-item>
        <ion-badge>Chuyên ngành</ion-badge>
        <button ion-button outline item-end>Uninstall</button>
      </ion-item>
      <ion-item>
        <ion-badge>Từ</ion-badge>
        <button ion-button outline item-end>Uninstall</button>
      </ion-item>
      <ion-item>
        <ion-badge>Đến</ion-badge>
        <button ion-button outline item-end>Uninstall</button>
      </ion-item>

    </ion-list>
  </ion-card-content>
  <ion-card-content class="cnt2">

    <ion-list>
      <ion-list-header>
        Kinh Nghiệm
      </ion-list-header>
      <ion-item>
        <ion-badge>Trường</ion-badge>
        <button ion-button outline item-end>Uninstall</button>
      </ion-item>
      <ion-item>
        <ion-badge>Tốt nghiệp</ion-badge>
        <button ion-button outline item-end>Uninstall</button>
      </ion-item>
      <ion-item>
        <ion-badge>Chuyên ngành</ion-badge>
        <button ion-button outline item-end>Uninstall</button>
      </ion-item>
      <ion-item>
        <ion-badge>Từ</ion-badge>
        <button ion-button outline item-end>Uninstall</button>
      </ion-item>
      <ion-item>
        <ion-badge>Đến</ion-badge>
        <button ion-button outline item-end>Uninstall</button>
      </ion-item>

    </ion-list>
  </ion-card-content>
  <ion-card-content class="cnt2">
    
        <ion-list>
          <ion-list-header>
            Ngoại ngữ
          </ion-list-header>
          <ion-item>
            <ion-badge>Ngôn ngữ</ion-badge>
            <button ion-button outline item-end>Uninstall</button>
          </ion-item>
          <ion-item>
            <ion-badge>Trình độ</ion-badge>
            <button ion-button outline item-end>Uninstall</button>
          </ion-item>
        </ion-list>
      </ion-card-content>
</ion-content>