.ios, .md{
    page-profile-user {
        .bg{
        background-image: url('../assets/image/avatar.jpg');
        height: 228px;
        background-size: cover;
        filter : blur(2px);
        background-position: center center;
        }
        h3{
            text-align: center;
            margin-top: -3%;
        }
        .main-cnt{
            width: 100%;
            height: 70px;
            img{
                box-shadow: 0 6px 20px 0 #7a2929, 0 8px 17px 0 rgba(0,0,0,.2);
                width: 35%;
                height: 177%;
                border-radius: 50%;
                position: relative;
                top: -115%;
                left: 30%;            
            }
        }
        ion-card-content{
            p{
                color: #005de8;
            }
            
        }
        .cnt2{
            margin-top: -15%;
        }
    }

}
