<!--
  Generated template for the RegisterCompanyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  
    <ion-navbar>
      <ion-title>register-user</ion-title>
    </ion-navbar>
  
  </ion-header> -->


<form [formGroup]="registerForm" (ngSubmit)="register()">
  <ion-item class="fullname">
    <ion-label>Họ và Tên</ion-label>
    <ion-input type="text" formControlName="fullname"></ion-input>
  </ion-item>
  <ion-item class="username">
    <ion-label>Username</ion-label>
    <ion-input type="text" formControlName="username"></ion-input>
  </ion-item>
  <ion-item class="email">
    <ion-label>Email</ion-label>
    <ion-input type="text" #email formControlName="email"></ion-input>
  </ion-item>
  <ion-item class="address">
    <ion-label>Địa chỉ</ion-label>
    <ion-input type="text" disabled="true" formControlName="address" (click)="launchLocationPage()"></ion-input>
  </ion-item>
  <ion-item class="password">
    <ion-label>Mật khẩu</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>
  <button ion-button round type="submit">Tạo tài khoản</button>
</form>