page-create-work {
    ion-content{
        // background-image: url('../assets/image/work1.jpg') !important;
        // background-repeat: no-repeat !important;
        // background-size: cover !important;
        ion-slide{
            border: solid 1px black;
            box-shadow: 10px 10px 10px 10px #888888;
            background-image: url('../assets/image/work1.jpg') !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            ion-item{
                background: transparent !important;
            }
        }
    }
}
