<!--
  Generated template for the CreateWorkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>create-work</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-slides #createWorkSlider pager>

    <ion-slide>
      <img src="assets/image/user.png" alt="">
      <p>Công việc</p>
      <ion-list>

        <form [formGroup]="workForm">
          <ion-item class="name">
            <ion-label>Tiêu đề</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-item class="position">
            <ion-label>Vị trí</ion-label>
            <ion-input type="text" formControlName="position"></ion-input>
          </ion-item>
          <ion-item class="major">
            <ion-label>Chuyên ngành</ion-label>
            <ion-input type="text" formControlName="major"></ion-input>
          </ion-item>
          <ion-item class="dateTime">
            <ion-label>Hạn chót</ion-label>
            <ion-datetime displayFormat="D MMM YYYY" formControlName="dateTime"></ion-datetime>
          </ion-item>
        </form>

      </ion-list>
      <button ion-button color="primary" round outline style="margin-top:10% !important" (click)="next()">Tiếp tục</button>

    </ion-slide>

    <ion-slide>
      <img src="assets/image/user.png" alt="">
      <p>Công việc</p>
      <ion-list>

        <form [formGroup]="workForm2">
          <ion-item class="requirement">
            <ion-label>Yêu cầu</ion-label>
            <ion-input type="text" formControlName="requirement"></ion-input>
          </ion-item>
          <ion-item class="salaryFrom">
            <ion-label>Mức lương</ion-label>
            <ion-input type="number" #salaryFrom placeholder="Tu" formControlName="salaryFrom"></ion-input>
            <ion-input type="number" min="{{salaryFrom.value}}" placeholder="Den" formControlName="salaryTo"></ion-input>
            <ion-select formControlName="type">
              <ion-option value="VND">VND</ion-option>
              <ion-option value="USD">USD</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="benifit">
            <ion-label>Lợi ích</ion-label>
            <ion-textarea formControlName="benifit"></ion-textarea>
          </ion-item>
          <!-- <pre>{{companyForm2.controls.description.value}}</pre> -->
        </form>

      </ion-list>
      <button ion-button color="primary" round outline style="margin-top:10% !important" (click)="save()">Tạo việc làm!</button>
    </ion-slide>
  </ion-slides>
</ion-content>