<!--
  Generated template for the TestmapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>testmap</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <input id="pac-input" class="controls" #address type="text" (keyup)="keyup()" placeholder="Search Box">
  <div #map id="map"></div>
  <button (click)="last()" ion-button round>Round Button</button>
  <h3>{{address.value}}</h3>
</ion-content>