<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>setting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item icon-start (click)="createCV()">
      <ion-icon [name]="angular" item-start></ion-icon>
      Tạo CV
    </button>
  </ion-list>
</ion-content>
