<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			Hồ sơ
		</ion-title>
		<!-- <ion-buttons start>
			<button ion-button icon-left (click)="prev()">
				<ion-icon name="arrow-back"></ion-icon> Prev</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button icon-right (click)="next()">Next
				<ion-icon name="arrow-forward"></ion-icon>
			</button>
		</ion-buttons> -->
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-slides #signupSlider pager>

		<ion-slide>
			<img src="assets/image/user.png" alt="">
			<p>Thông tin cơ bản</p>
			<!-- <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p> -->

			<ion-list>

				<form [formGroup]="slideOneForm" class="slideForm">
					<ion-item>
						<ion-label stacked>Số điện thoại</ion-label>
						<ion-input placeholder="Số điện thoại" formControlName="phoneNumber" type="text" [class.invalid]="!slideOneForm.controls.phoneNumber.valid && (slideOneForm.controls.phoneNumber.dirty || submitAttempt)"></ion-input>
					</ion-item>

					<p *ngIf="!slideOneForm.controls.phoneNumber.valid  && (slideOneForm.controls.phoneNumber.dirty || submitAttempt)">Vui lòng nhập số điện thoại hợp lệ gồm 10-12 chữ số.</p>

					<ion-item>
						<ion-label stacked>Số năm kinh nghiệm</ion-label>
						<ion-input placeholder="Số năm kinh nghiệm" formControlName="experience" type="text" [class.invalid]="!slideOneForm.controls.experience.valid && (slideOneForm.controls.experience.dirty || submitAttempt)"></ion-input>
					</ion-item>

					<p *ngIf="!slideOneForm.controls.experience.valid  && (slideOneForm.controls.experience.dirty || submitAttempt)">Vui lòng chọn số năm kinh nghiệm.</p>

					<ion-item>
						<ion-label stacked>Chuyên ngành</ion-label>
						<ion-input placeholder="Chuyên ngành" formControlName="major" type="text" [class.invalid]="!slideOneForm.controls.major.valid && (slideOneForm.controls.major.dirty || submitAttempt)"></ion-input>
					</ion-item>

					<p *ngIf="!slideOneForm.controls.major.valid  && (slideOneForm.controls.major.dirty || submitAttempt)">Vui lòng nhập chuyên ngành.</p>

				</form>

			</ion-list>

		</ion-slide>

		<ion-slide>
			<img src="assets/image/student.png" alt="">
			<p>Băng cấp cao nhất</p>
			<ion-list>

				<form [formGroup]="slideTwoForm" class="slideForm">

					<ion-item>
						<ion-label floating>Trường</ion-label>
						<ion-input [class.invalid]="!slideTwoForm.controls.university.valid && (slideTwoForm.controls.university.dirty || submitAttempt)"
						 formControlName="university" type="text"></ion-input>
					</ion-item>

						<p *ngIf="!slideTwoForm.controls.university.valid && !slideTwoForm.controls.university.pending && (slideTwoForm.controls.university.dirty || submitAttempt)">Vui lòng nhập tên trường đại học!</p>

					<ion-item>
						<ion-label floating>Bằng Cấp</ion-label>
						<ion-select [class.invalid]="!slideTwoForm.controls.privacy.valid && (slideTwoForm.controls.privacy.dirty || submitAttempt)"
						 formControlName="privacy">
							<ion-option *ngFor="let privacy of privacies">{{privacy}}</ion-option>
						</ion-select>
					</ion-item>

					<ion-item>
						<ion-label floating>Năm bắt đầu</ion-label>
						<ion-datetime #startTime displayFormat="MMMM YYYY" min="1989" max="{{startDate}}" formControlName="startTime" value="January 2018"></ion-datetime>
					</ion-item>

					<ion-item>
						<ion-label floating>Năm tốt nghiệp</ion-label>
						<ion-datetime displayFormat="MMMM YYYY" min="{{startTime.value.year}}" max="{{startTime.value.year + 4}}" formControlName="endTime"></ion-datetime>
					</ion-item>

				</form>

			</ion-list>

		</ion-slide>

		<ion-slide style="height:96vh !important">
			<img src="assets/image/company.png" alt="">
			<p>Công ty gần đây nhất</p>
			<ion-list>

				<form [formGroup]="slideThreeForm" class="slideForm">

					<ion-item>
						<ion-label floating>Vị trí</ion-label>
						<ion-input [class.invalid]="!slideThreeForm.controls.position.valid && (slideThreeForm.controls.position.dirty || submitAttempt)"
						 formControlName="position" type="text"></ion-input>
					</ion-item>

					<ion-item>
						<ion-label floating>Tên công ty</ion-label>
						<ion-input [class.invalid]="!slideThreeForm.controls.company.valid && (slideThreeForm.controls.company.dirty || submitAttempt)"
						 formControlName="company" type="text"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label floating>Mô tả</ion-label>
						<ion-input formControlName="description" type="text"></ion-input>
					</ion-item>

					<ion-item>
						<ion-label floating>Từ tháng mm/yy</ion-label>
						<ion-datetime #startTime displayFormat="MMMM YYYY" min="1989" max="{{startDate}}" formControlName="startTime" [(ngModel)]="startDate"></ion-datetime>
					</ion-item>

					<ion-item *ngIf="!current.value">
						<ion-label floating>Đến tháng mm/yy</ion-label>
						<ion-datetime displayFormat="MMMM YYYY" min="{{startTime.value.year}}" max="{{startTime.value.year + 8}}" formControlName="endTime"></ion-datetime>
					</ion-item>
					<ion-item style="height:125px;">
						<ion-label style="margin-top:-5px !important" floating>Công việc hiện tại</ion-label>
						<ion-toggle style="margin-top:-65px !important" #current></ion-toggle>
					</ion-item>

				</form>

			</ion-list>

			<!-- <button ion-button full color="primary" (click)="save()">Create Account!</button> -->

		</ion-slide>

		<ion-slide class="english">
			<img src="assets/image/student.png" alt="">
			<p>Trình độ Anh Văn</p>
			<ion-list radio-group class="select" [(ngModel)]="english">
				<ion-item>
					<ion-label>Sơ cấp</ion-label>
					<ion-radio checked="true" value="Sơ cấp"></ion-radio>
				</ion-item>

				<ion-item>
					<ion-label>Trung cấp</ion-label>
					<ion-radio value="Trung cấp"></ion-radio>
				</ion-item>

				<ion-item>
					<ion-label>Cao Cấp</ion-label>
					<ion-radio value="Cao cấp"></ion-radio>
				</ion-item>

				<ion-item>
					<ion-label>Bản ngữ</ion-label>
					<ion-radio value="Bản ngữ"></ion-radio>
				</ion-item>

				<ion-item>
					<ion-label>Tôi không biết tiếng Anh</ion-label>
					<ion-radio value="Không biết"></ion-radio>
				</ion-item>
			</ion-list>
			<button ion-button color="primary" round outline style="margin-top:10% !important" (click)="save()">Create Account!</button>
		</ion-slide>

	</ion-slides>

</ion-content>