<!--
  Generated template for the ViecCuaToiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Viec cua toi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-segment [(ngModel)]="filter" color="primary">
    <ion-segment-button value="sunny">
      Việc đã thích
    </ion-segment-button>
    <ion-segment-button value="rainy" checked>
      Việc đã ứng tuyển
    </ion-segment-button>
    <!-- <ion-segment-button value="salary" (click)="filterBy()">Lương
    </ion-segment-button>
    <ion-segment-button value="address" (click)="filterBy()">Khoảng cách
    </ion-segment-button>
    <ion-segment-button value="" (click)="filterBy()">Mặc định
    </ion-segment-button> -->
  </ion-segment>
  <ion-list [@flyInOut] ="'in'">
    <ion-item *ngFor="let item of listFavorite">
      <ion-thumbnail name="ionic" color="primary" (click)="viewDetail(item)" item-left>
        <img src="https://www.vietnamonline.com/js/ckfinder/userfiles/images/chua%20cau%20hoi%20an.jpg">
      </ion-thumbnail>
      <div (click)="viewDetail(item)">
        <h5>{{item.name}}</h5>
        <p>{{item.salary.salaryFrom}} - {{item.salary.salaryTo}} {{item.salary.type}}</p>
        <p>{{item.company ? item.company.address.address: 'khong co dia chi'}}</p>
      </div>
    </ion-item>
  </ion-list>
  <!-- <ion-list no-lines>
        <button ion-item *ngFor="let hero of staggeringHeroes;let i = index"
        (@flyInOut.done)="doNext()"
        [@flyInOut]="'in'" (click)="removeMe(i)">
          {{ hero }}
        </button> 
      </ion-list> -->
</ion-content>